@import url("https://fonts.googleapis.com/css2?family=Neucha&family=Open+Sans:ital,wght@0,400;0,700;1,400&display=swap");
@import url("./reset.css");

:root {
  --white: #fff;
  --light: #f5f4f0;
  --white-50: #d7ccc0;
  --primary: #fe8a02;
  --primary-hover: #ea7600;
  --primary-dark: #42413c;
  --dark: #2a2626;
  --dark-50: #908d8b;
  --bown: #b09a81;
  --blue: #1085c5;
}

body {
  color: var(--dark);
  font-size: 16px;
  font-family: "Open Sans", sans-serif;
  line-height: 1.6em;
}

h1,
h2,
h3 {
  margin: 0;
  font-weight: 400;
  font-family: Neucha, cursive;
  line-height: 1.2em;
}

h1 {
  font-size: 72px;
}

h2 {
  font-size: 60px;
}

h3 {
  font-size: 34px;
}

div > img {
  vertical-align: middle;
}

.container {
  position: relative;
  width: 1110px;
  margin: 0 auto;
  padding-top: 100px;
  padding-bottom: 100px;
}

.first-column {
  break-inside: avoid-column;
  break-after: always;
  margin-top: 0;
}

.two-columns {
  columns: 2;
  column-gap: 30px;
}

header .two-columns > .first-column {
  margin-bottom: 80px;
}

header,
section {
  position: relative;
}

.bg::before {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  background-repeat: repeat;
  background-size: cover;
  opacity: 0.1;
  content: url("../images/background.png");
}

.orange {
  color: var(--primary);
}

/* HEADER */

header {
  position: relative;
  background-color: var(--light);
}

header h1 {
  position: relative;
  z-index: 99;
  margin-bottom: 185px;
}

header img {
  position: absolute;
  top: 55px;
  right: -270px;
  height: 525px;
}

.button {
  display: flex;
  width: fit-content;
  padding: 11px 23px;
  color: #fff;
  font-weight: 700;
  text-transform: uppercase;
  text-decoration: none;
  background: var(--bown);
}

.button.primary {
  background: var(--primary);
}

.button.primary:hover {
  background: var(--primary-hover);
}

header p ~ a {
  margin-top: 40px;
}

/* HOW-TO */
.how-to > .container {
  padding-bottom: 0;
  text-align: center;
}

.how-to h2 {
  margin-bottom: 30px;
}

.how-to p {
  margin-bottom: 30px;
}

iframe.video {
  position: relative;
  z-index: 99;
  margin-bottom: -100px;
  filter: drop-shadow(0 16px 32px rgb(0 0 0 / 15%));
}

/* Navigation */

.nav {
  background-color: var(--primary-dark);
}

.nav > .container {
  display: flex;
  flex-flow: row wrap;
  gap: 30px;
  padding-top: 200px;
}

.nav h2 {
  color: var(--white);
  font-size: 52px;
}

.nav h3 {
  color: var(--primary);
}

.card {
  display: block;
  box-sizing: border-box;
  width: 350px;
  height: 326px;
}

a.card {
  padding: 24px;
  color: var(--dark);
  text-decoration: none;
  background-color: var(--light);
}

.num {
  padding-bottom: 40px;
  font-size: 64px;
  font-family: Neucha, cursive;
  line-height: 1em;
}

a.card:hover {
  color: var(--light);
  background-color: var(--primary);
}

a.card:hover > * {
  color: var(--light);
}

.bg {
  background-color: var(--light);
}

.two-rows {
  display: flex;
  flex-direction: row;
  gap: 30px;
}

.two-rows .text {
  width: 500px;
  font-family: Neucha, cursive;
}

.two-rows img {
  filter: drop-shadow(0 16px 32px rgb(0 0 0 / 15%));
}

.two-rows p.small {
  margin: 0;
  color: var(--dark-50);
  font-size: 24px;
}

.two-rows h2 {
  margin-top: 0;
  font-size: 60px;
}

.two-rows p {
  font-size: 34px;
  line-height: 1.1em;
}

section .plank {
  display: block;
  margin-top: 100px;
  margin-bottom: 20px;
  padding: 5px;
  padding-left: 1em;
  color: var(--light);
  font-weight: 700;
  font-size: 14px;
  font-family: "Open Sans", sans-serif;
  text-transform: uppercase;
  background-color: var(--bown);
}

.bg-dark {
  color: var(--white);
  background-color: var(--bown);
}

.bg-dark .two-rows {
  flex-direction: row-reverse;
}

.bg-dark p.small {
  color: var(--white-50);
}

.bg-dark .plank {
  color: var(--bown);
  background-color: var(--white);
}

.form-box {
  display: flex;
  color: var(--white);
  background-color: var(--primary-dark);
}

.form-box a { color: var(--white); }

footer .container h2 {
  box-sizing: content-box;
  width: 425px;
  padding: 55px;
  font-size: 34px;
}

footer .text-center {
  margin-top: 76px;
  text-align: center;
}

footer form {
  display: flex;
  flex-grow: 1;
  flex-direction: column;
  justify-content: center;
  padding-right: 55px;
}

form .component {
  display: flex;
  margin-top: 9px;
}

form input {
  flex-grow: 1;
  box-sizing: border-box;
  height: 50px;
  padding: 15px;
  border: 0;
  border-radius: 0;
}

footer button {
  position: relative;
  width: 70px;
  height: 50px;
  background-color: var(--primary);
  border: 0;
  border-radius: 0;
  cursor: pointer;
}

button::after {
  position: absolute;
  transform: translateY(-50%) translateX(-50%);
  content: url("../images/send.svg");
}

footer button:hover {
  background-color: var(--primary-hover);
}
