@import url('https://fonts.googleapis.com/css2?family=Neucha&family=Open+Sans:ital,wght@0,400;0,700;1,400&display=swap');
@import url('./reset.css');

:root {
--white: #fff;
--light: #f5f4f0;
--white-50: #d7ccc0;
--primary: #fe8a02;
--primary-hover: #EA7600;
--primary-dark: #42413c;
--dark: #2a2626;
--dark-50: #908d8b;
--bown: #b09a81;
--blue: #1085c5;
}

body {
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  line-height: 1.6em;
  color: var(--dark);
}

h1,
h2,
h3 {
  font-family: 'Neucha', cursive;
  line-height: 1.2em;
  font-weight: 400;
  margin: 0;
}

h1 {
  font-size: 72px;
}

h2 { 
    font-size: 60px; 
}

h3 {
    font-size: 34px; 
}

.content {
  width: 1110px;
  margin: 0 auto;
  padding-top: 100px;
  padding-bottom: 100px;
  position: relative;
}

.two-columns {
  columns: 2;
  column-gap: 30px;
}

header .two-columns > .first-column {
  margin-bottom: 80px;
}

.first-column {
  margin-top: 0;
}

header,
section {
    position: relative;
}

.bg::before {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  background-repeat: repeat;
  background-size: cover;
  opacity: 0.1;
  content: url("../images/background.png");
}

.orange {
  color: var(--primary);
}

/* HEADER */

header {
  position: relative;
  background-color: var(--light);
}

header h1 {
  margin-bottom: 185px;
  position: relative;
  z-index: 99;
}

header img {
  position: absolute;
  top: 55px;
  right: -270px;
  height: 525px;
}

.button {
    display: flex;
    width: fit-content;
    font-weight: 700;
    padding: 11px 23px;
    background: var(--bown);
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    }
    
.button.primary {   
  background: var(--primary); 
}

.button.primary:hover {
    background: var(--primary-hover);
  }

header p ~ a {
  margin-top: 40px;
}

/* HOW-TO */
.how-to > .content {
    text-align: center;
    padding-bottom: 0;
}

.how-to h2 {
    margin-bottom: 30px;
}

.how-to p {
    margin-bottom: 30px;
}

iframe.video {
      filter: drop-shadow(0 16px 32px rgba(0, 0, 0, 0.15));
      position: relative;
      z-index: 99;
      margin-bottom: -100px;
    }

/* Navigation */

.nav {
  background-color: var(--primary-dark);
}

.nav > .content {
  padding-top: 200px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 30px;
}

.nav h2 {
  color: var(--white);
  font-size: 52px;
}

.nav h3 {
  color: var(--primary);
}

.card {
  box-sizing: border-box;
  display: block;
  width: 350px;
  height: 326px;
}

a.card {
  padding: 24px;
  color: var(--dark);
  background-color: var(--light);
  text-decoration: none;
}

.num {
  padding-bottom: 40px;
  font-size: 64px;
  font-family: 'Neucha', cursive;
  line-height: 1em;
}

a.card:hover {
  color: var(--light);
  background-color: var(--primary);
}

a.card:hover > * {
    color: var(--light);
}

section .bg {
  background-color: var(--light);
}
.two-rows {
  display: flex;
  flex-direction: row;
  gap: 30px;
}

.two-rows > .text {
  font-family: 'Neucha', cursive;
}

.two-rows img {
  filter: drop-shadow(0px 16px 32px rgba(0, 0, 0, 0.15));
}

.two-rows p.small {
  font-size: 24px;
  margin: 0;
  color: var(--dark-50);
}

.two-rows h2 {
  font-size: 72px;
  margin-top: 0px;
}

.two-rows p {
  font-size: 34px;
  line-height: 1.1em;
}

section .plank {
  display: block;
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  padding: 5px;
  padding-left: 1em;
  margin-top: 100px;
  margin-bottom: 20px;
  font-weight: 700;
  background-color: var(--bown);
  color: var(--light);
  text-transform: uppercase;
}
.bg-dark {
  background-color: var(--bown);
  color: var(--white);
}

.bg-dark .two-rows {
  flex-direction: row-reverse;
}

.bg-dark p.small {
   color: var(--white-50);
}

.bg-dark .plank {
  background-color: var(--white);
  color: var(--bown);
}